.modal{
    z-index: 2021;
}
.extended-instructions{
    .modal-dialog{
        max-width: 100vw;
        height: 100vh;
        margin: auto;
    }
}
.syllabus-details{
    .modal-dialog{
        max-width: 700px;
        margin: auto;
        margin-top: 50vh;
        transform: translateY(-50%) !important;
        .modal-content{
            padding: 10px;
        }
    }
}

.new-day{
    .modal-dialog{
        max-width: 700px;
        margin: auto;
        margin-top: 50vh;
        transform: translateY(-50%) !important;
        .modal-content{
            padding: 10px;
        }
    }
    .col-12{
        p{
            font-size: 12px;
            color:black;
        }
    }
    .col-6{
        p{
            font-size: 12px;
            color:black;
        }
    }
    .card-header{
        padding:5px;
        h2{
            font-size: 12px;
        }
        button{
            font-size: 12px;
            padding: 0;
        }
    }
    .modal-title{
        color:black;
    }
    .modal-body{
        p{
            color:black;
        }
    }
}
.search-replace-results{ 
    background-color: #545454;
    color: #dfdfdf;
    max-height: 250px;
    overflow-y: auto;
    text-align: left;
    font-size: 12px;
    padding: 5px;
    .search-replace-results .asset_type{ color: #b8e2ff; }
}