

.sidebar-btn{
    z-index: 100;
    top: 56px;
    left: 10px;
}
.sidebar{
    width: 300px;
    z-index: 100;
    background: #272727;
    color: white;
    height: 100vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background: rgb(179, 177, 177);
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: rgb(223, 195, 70);
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(100, 100, 100);
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb:active {
        background: rgb(68, 68, 68);
        border-radius: 10px;
    }
    .back-btn{
        width: 85px;
    }
    .content{
        padding: 0px 10px;
    }
    .modal-dialog{
        margin: 0;
        color: black;
        .modal-content{
            border-radius: 0;
        }
    }
    li.content-piece{
        background: #464646;
    }
    li.content-piece:hover{
        background: #5a5a5a;
    }
}