@import "~bootstrap/scss/bootstrap.scss";

.pointer{ cursor: pointer; }

li.content-piece{ 
    font-size: 12px; display: inline-block; background: #BDBDBD; padding: 3px; 
    margin: 1px;
    i:hover{ background: rgba(0, 0, 0, 0.2) }
}
li.content-piece:hover{  background: #ededed; }

input, textarea{ font-size: 12px; }
input.transparent, textarea.transparent{
    background: none;
    border: none;
    &:focus {
        outline:none;
    }
    &::placeholder{
        color: #404040;
    }
}

.content-widget{
    font-size: 12px;
    h3{ 
        font-size: 16px; text-decoration: underline; cursor: pointer; text-transform: capitalize; 
        float: left;
    }
    select{font-size: 12px;}
}
.left-side{
    overflow-y: auto;
    position: fixed;
    height: 100vh;
    padding: 5px;
    .content{
        background: grey;
        padding: 5px;
        margin-bottom: 5px;
        ul{ padding: 0; }
        li{cursor: pointer;}
    }
}
.day{
    border-radius: 5px;
    margin-bottom: 5px;
    h3{ font-size: 18px; padding: 5px 5px 0px 25px; }
    h4{ font-size: 16px; padding: 5px 5px 0px 5px; }
    .drag-up,.drag-down{ left: 0; position: absolute; background: black; color: white; padding: 0px 3px; z-index: 2; }
    .drag-up{ top: 0; border-radius: 5px 0px 0px 0px; }
    .drag-down{ bottom: 0; border-radius: 0px 0px 0px 5px; }
}
.bcnotifier{
    display: none;
    margin: 0; padding: 0;
    li{ padding: 0; }
    &.active{ display: block;}
    .alert{ margin: 0; }
}
