@import "~bootstrap/scss/bootstrap.scss";
@import "sidebar";
@import "modals";
@import "timeline";

body{ background: black; color: #d6d6d6; }
.select-option:hover{ background: #aeb9d5; }
.pointer{ cursor: pointer; }
ul li{ list-style: none; }
li.content-piece{ 
    font-size: 12px; display: inline-block; background: #BDBDBD; padding: 3px; 
    border-radius: 3px;
    margin: 1px;
    i:hover{ background: rgba(0, 0, 0, 0.2) }
}
li.content-piece:hover{  background: #ededed; }

.bg-white-light{ background: rgba(255,255,255,0.7) !important;}
input, textarea{ font-size: 14px; }
input.transparent, textarea.transparent{
    background: none;
    border: none;
    &:focus {
        outline:none;
    }
    &::placeholder{
        color: #404040;
    }
}

.content-widget{
    font-size: 12px;
    h3{ 
        font-size: 16px; text-decoration: underline; cursor: pointer; text-transform: capitalize; 
        float: left;
    }
    select{font-size: 12px;}
    .search{font-size: 20px;}
}
.left-side{
    overflow-y: auto;
    position: fixed;
    height: 100vh;
    padding: 5px;
    .content{
        background: grey;
        padding: 5px;
        margin-bottom: 5px;
        ul{ padding: 0; }
        li{cursor: pointer;}
    }
}
.day{
    color: #303030;
    border-radius: 5px;
    margin-bottom: 5px;
    background: #e4e4e4;
    input, textarea{
        border-radius: 5px;
    }
    h3{ font-size: 18px; padding: 5px 5px 0px 25px; }
    h4{ font-size: 16px; padding: 5px 5px 0px 5px; color: $gray-900; }
    .drag-up,.drag-down{ left: 0; position: absolute; background: black; color: white; padding: 0px 3px; z-index: 2; }
    .drag-up{ top: 0; border-radius: 5px 0px 0px 0px; }
    .drag-down{ bottom: 0; border-radius: 0px 0px 0px 5px; }
    .column{
        padding: 5px;
        width: 25%;
        margin: 2px;
    }
}
.bcnotifier{
    display: none;
    margin: 0; padding: 0;
    li{ padding: 0; }
    &.active{ display: block;}
    .alert{ margin: 0; padding: 0;
        &.alert-info{ background-color: transparent; border: none; }
    }
}
.hbar{
    height: 50px;
}
.topbar .noti-canvas{
    background: #BDBDBD;
    padding: 5px;
    text-align: left;
    margin-bottom: 0 0 10px 0;
}

.spin{
    animation-name: spining;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spining {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}